.icons-menu{
    margin: 10px;
}

.first-header{
    display: flex;
    flex-wrap: row;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.first-header-start >a{
    color: white;
    text-decoration: none;
}
.first-header-start{
    margin: 20px;
    width: 50%;
    font-size: 13px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.second-header-start{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: end;
    margin: 12px 20px 0px 0px;
}
.second-header-start >a{
    padding: 5px 0px 5px 20px;
    color: white;
}

.first-header-start > a{
    margin: 25px;
}
.first-header-start > a >i{
    margin-right: 20px;
}
.breadcrumb{
    text-decoration: none;
    color: black;
}
.nav-medium{
    width: 16%;
    margin-left: 190px;
    padding-bottom: 30px;
}

.btn-group{
    margin-top: 30px;
}
.btn-group > button{
    font-size: 15px;
    color: rgb(26, 25, 25);
}
.btn-group > button{
    font-size: 15px;
    color: rgb(26, 25, 25);
}
.price-filter > h3{
    font: bold;
    color: black;
}

.rangeInpunts>input{
    width: 40%;
}
.rangeInpunts > span{
    width: 10%;
    padding: 5px;
    background-color: rgb(31, 231, 154);
}
.sizeValues{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0;
}
.sizeValues>li{
    height: auto;
    margin: auto;
    padding: 15px;
    border: 1px solid rgb(238, 231, 231);
    margin: 5px 0px 0px 5px;
}
.sizeValues >li:active{
    background-color: greenyellow;
}
.sizeValues :hover{
    cursor:pointer;
}
.selectSizes >h4{
    margin-bottom: 25px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.listPicker{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0;
}
.listPicker>li >span >input{
    padding: auto;
    margin-top: 15px;
}

.card-text{
    color: rgb(26, 204, 26);
}
.card-title{
    font-size: 15px;
    margin-bottom: 20px;
}
.card{
    border: none;
}
.shortBy{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    position: absolute;
    left: 470px;
    border-bottom: 1px solid rgb(204, 199, 199);
    align-items: center;
}
.dropdown{
    margin-left:630px;
    background-color: white;
    height: 25px;
    font-size: 15px;
    width: auto;
    border: none;
}
.dropdown .dropdown-toggle{
    border: none;
    background-color: white;
    padding: 0px 30px 0px 50px;
}
.mainCards{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    left: 470px;
    top: 280px;
}
.mainCards .container{
    margin: 0;
    padding: 0;
}
.border-buttom{
    border: 1px solid rgb(175, 173, 173);
}
.border-buttom >i{
    margin-right: 5px;
}
.buttomCards{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.buttom-class{
    margin-left: 10px;
}
.categoryItem >h6{
    margin: 0px 0px 20px 0px;
    font-size: 12px;
    color: rgb(175, 173, 173);
}
.stars{
    margin-bottom: 15px;
}
.stars .checked{
    color: orange;
}
.heart-checked:hover{
    color: red;
}
.pagination-principal{
    position: absolute;
    display: flex;
    bottom: -1500px;
    left: 470px;
    width: 60%;
    border: 1px solid rgb(230, 225, 225);
}
.pagination >li{
    border: none;
}
.pagination-principal .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pre-footer{
    position: absolute;
    bottom: -1600px;
    width: 100%;
}
.pre-footer .row {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgb(224, 219, 219);
    border-top: 1px solid rgb(224, 219, 219);
}
.icons-prefooter{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(224, 219, 219);
    height: 40px;
    border: none;
}
.icons-prefooter > a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 10%;
  text-decoration: none;
  height: 30px;
  color: gray;
}
.text-prefooter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.text-prefooter >span >h6{
    margin: 0;
    padding: 0;
}
.last-footer{
    position:absolute;
    bottom: -1845px;
    width: 100%;
}
.footer-style >li >a{
    text-decoration: none;
    color: black;
}
.footer-style >li{
 margin: 10px 0px 10px 0px;
}
.icon-LastFooter{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.icon-LastFooter > span{
    width: 5%;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
}
.text-LastFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
}
.categories-ul >li{
    width: 100%;
}

.acordeonGeneral{
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 10px 5px;
}
.personal-class{
    display: flex;
    flex-direction: row;
    padding: 5px;
    height: 70px;
    width: 140px;
    font-size: 15px;
    
}